.tableContainer {
  width: 80%;
  margin: 0 auto;
}

.transactionTable {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tableHeader {
  background-color: #6b6767;
}

.tableCell {
  padding: 10px;
  text-align: left;
  border: 2px solid #ddd;
}


